html {
  font-size: 20px;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #ddd;
  }
}