html {
  font-size: 20px;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #ddd;
  }
}

:link {
  @apply hover:underline;
}

select,
input {
  @apply bg-transparent rounded px-2 pt-0.5 pb-1 border border-gray-300 dark:border-gray-700
}

option {
  @apply dark:(text-regular bg-hex-111);
}

